@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(56, 56, 255);
}

header{
    padding: 20px;
    text-align: center;
    color: white;
}
div {
    padding: 10px;
    font-weight: bold;
}

div p{
    padding: 10px;

}

section{
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}




footer {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}